html {
    background-color: #726b60;
}
body {
    margin: 0;
}
.achtergrond {
    background-image: url("Achtergrond.jpg");
    background-size: 100%;
    background-color: #726b60;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    width: 100%;
    height: 50rem;
}
.logo{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 13%;
    height: 13%;
    margin-top:0%;
    margin-left: 43%;
}
span{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 1%;
    font-size: 1.2em;
}
.link {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fcfbf9;
    margin-top: 2%;
    font-family: Karla, Arial, sans-serif;

}
.Home:hover {
    color: #83b6cc;
    text-decoration: none;
}

.text1{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 2%;
    font-size: 1.5em;
}
.blauw {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #83b6cc;
}
.text2{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 0%;
    font-size: 1.2em;
}
.text3 {
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 0%;
    font-size: 1.2em;
}
p {
    font-style: italic;
}
a {
    color:#83b6cc;
}
#herrie {
    color:white;
    display: block;
    text-align: center;
    justify-content: center;
}